<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD MODEL</title>
</head>
<body>
    <form action="/addHistory" method="POST">
        <input type="text" name="username" placeholder="username" required>
        <input type="text" name="disease" placeholder="disease" required>
        <input type="submit" name="submit">
    </form>
</body>
</html>