<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UPLOAD</title>
    <style media="screen">
      #footer{
 position:fixed;
 bottom:0;
 width:100%;
}
    </style>
    <link rel="stylesheet" href="signup.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><b>C<span style="color:#13C12A;">O</span>RA</b></a>
        </div>
        <ul class="nav navbar-nav">
  <li class="active"><a href="index.html">Home</a></li>
  <li><a href="upload.html">Upload</a></li>
  <li><a href="hospital.html">Hospitals</a></li>
  <li><a href="history.html">History</a></li>
     </ul>
      </div>
    </nav>
  </header>
<center><h1><b>PREDICTION</b></h1></center>

<div class="container">
<h3><b>Predicted Disease : <span style="color:red;">CANCER</span></b></h3>
<h3><b>Disease Description:</b> Cancer is a group of diseases involving abnormal cell growth with the potential to invade or spread to other parts of the body. These contrast with benign tumors, which do not spread to other parts of the body.</h3>
<br><br><center><h3>To view the nearest cancer hospital</h3>
<button type="button" class="btn btn-danger" name="button"><a href="/hospital" style="color:white;">CLICK HERE >></a></button>
</center>

</div>

  <footer id="footer" style="background-color:black;color:white;">
    <!-- footer bottom -->
    <center>
    <div class="aa-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-footer-top-area">
                      <h3>Contact Us</h3>
                      <address>
                        <p>CORA PRODUCTIONS</p>
                        <p><span class="fa fa-envelope">&nbsp;</span>coraproduction2@gmail.com</p>
                      </address>
                      <div class="aa-footer-social">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                      </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </center>
    <!-- footer-bottom -->
  <div class="aa-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
            <p>Designed by <a href="https://cora-production.firebaseapp.com" />CORA PRODUCTIONS</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </footer>
  </body>
  </html>
